[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
appdirs = "==1.4.3"
attrs = "==18.2.0"
black = "==18.9b0"
click = "==7.0"
pytz = "==2018.7"
toml = "==0.10.0"
Django = "==2.1.4"
djangorestframework = "3.9.0"

[requires]
python_version = "3.7"
