.retrieved-results {
    background-color: white;
    width: 100%;
    border: 2px solid black;
    padding-top: 15px ;
    padding-left: 20px;
    padding-bottom: 15px;
    margin-bottom: 18px;
  }
  