.search-content{
    background-color:white;
    padding-left:20.25px;
    padding-top:23px;
    padding-bottom:19px;
    padding-right: 333.75px;
    border-radius: 2px;
    border-width: 2px;
    color: #BABABA;
    border-color: #578BD8;
    border-radius: 6px 6px 6px 6px;
    position: relative;
    top:40px;
}
    

.search-button{
    background-color: #5C96EB;
    margin-left: 16px;
    border-radius: 6px 6px 6px 6px;
    position: relative;
    top:38px;
}
.searchbox-placement{
    margin-top: 60px;
    margin-left: 255px;
    
}
.searchbox{
    width:684px;
    height: 70px;
}
.search-logo{
    color: white;
    height:26.61;
    width:26.61;

}

.fa fa-search search-logo{
    font-size: 4px;
    top:16.5;
    bottom:21.89;
    border-left: 19.25;
    border-right: 24.14;
    padding-top: 10px;

}
